[Mongo]
AccountDB="gowssrv_db"
AccountServer="localhost"

EngineDB = "borealengine_1"
EngineServer = "localhost"

[Ws]
HostAddress = "localhost:3023"
ReadBuffer = 1024
WriteBuffer = 1024
EnforceOrigin = false

[General]
Debug = true
LogName = "borealengine_1"
DeltaMicro = 15000